# Our first notebook

In which we learn some basics
1. Types of Variables
    - integer
    - float
    - string
    - list
    - dictionary
2. Functions
    - print()
    - type()
3. Style Guidelines
    - snake_case

## 1. Variables

### integer

a whole number

In [1]:
a = 2

In [2]:
a

2

### float

a number with decimal places

In [3]:
a = 2.

In [4]:
a

2.0

### strings

a list of symbols

In [5]:
first_text = "my text"
second_text = ', another text'

srings can be added

In [6]:
first_text+second_text

'my text, another text'

strings can be multiplied

In [7]:
first_text * 3

'my textmy textmy text'

multiplication is a function of the string:

In [8]:
first_text.__mul__(3)

'my textmy textmy text'

### lists

lists contain an ordered sequence of variables

In [9]:
my_list = [1,2,3]

In [10]:
my_list

[1, 2, 3]

Lists can carry different types of variables
- integers
- floats
- strings
- other variables
- other lists

In [11]:
my_list = [1,2.0,'3',a,[5,6,7]]

In [12]:
my_list

[1, 2.0, '3', 2.0, [5, 6, 7]]

indexing of lists starts with zero:

In [13]:
my_list[0]

1

In [14]:
my_list[1]

2.0

lists can be indexed in reverse order

In [15]:
my_list[-1]

[5, 6, 7]

In [16]:
my_list[-2]

2.0

lists can be indexed with ranges

In [17]:
my_list[1:3]

[2.0, '3']

### dictionaries

Dictionaries consist of pairs of keys and values:  
enter the key and get the value

In [18]:
d = {'group a':100,
     'group b':50}

In [19]:
d

{'group a': 100, 'group b': 50}

In [20]:
d.keys()

dict_keys(['group a', 'group b'])

In [21]:
d.values()

dict_values([100, 50])

In [22]:
d['group a']

100

In [23]:
d['group b']

50

#### dictionaries can be transformed into tables (data frames)
More on this in the upcoming sessions

In [24]:
import pandas as pd

/home/brain/.conda/envs/abbildungen/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)
/home/brain/.conda/envs/abbildungen/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)

In [25]:
pd.DataFrame(d,index=['value'])

       group a  group b
value      100       50

## 2. functions

### we can find out about the type of a variable

In [26]:
type(a)

float

In [27]:
type(first_text)

str

we can find out what a function does by using the question mark

In [28]:
type?

### printing

we can print a single value

In [29]:
print(1)

1

we can print muliple values; the default is that they are separated by a single blank

In [30]:
print(1,2,3)

1 2 3

but we can use a different separator, for example a tab

In [31]:
print(1,2,3,sep='\t')

1	2	3

## 3. style guidelines   

The Python style guidelines recommed using "snake_case" (lower case throughout, separated by underscores) instead of camelCase (upper case for first letter)

**Python style**

In [32]:
snake_case = 1

**not recommended**

In [33]:
camelCase = 1