In [1]:
from IPython.display import IFrame

In [2]:
IFrame('https://andrewgelman.com/wp-content/uploads/2012/02/halloween.pdf',width=600,height=300)

In [20]:
import pandas as pd

In [13]:
#df = pd.read_csv('../data/birthdates-1968-1988.csv')
df = pd.read_csv('../data/births.csv')

     month  day  births
0        1    1  160369
1        1    2  169896
2        1    3  180036
3        1    4  182854
4        1    5  184145
5        1    6  186726
6        1    7  188277
7        1    8  185186
8        1    9  181511
9        1   10  183668
10       1   11  187006
11       1   12  188032
12       1   13  189202
13       1   14  192648
14       1   15  189346
15       1   16  186601
16       1   17  186186
17       1   18  188293
18       1   19  189261
19       1   20  190701
20       1   21  191610
21       1   22  189712
22       1   23  186670
23       1   24  186128
24       1   25  187920
25       1   26  188636
26       1   27  189881
27       1   28  190872
28       1   29  188092
29       1   30  185769
..     ...  ...     ...
342     12    2  193212
343     12    3  190340
344     12    4  188749
345     12    5  189387
346     12    6  187322
347     12    7  188173
348     12    8  192152
349     12    9  191753
350     12   10  191413
351     12   11  189540
352     12   12  191652
353     12   13  187067
354     12   14  191684
355     12   15  196832
356     12   16  198724
357     12   17  198064
358     12   18  197455
359     12   19  198517
360     12   20  195081
361     12   21  192644
362     12   22  186477
363     12   23  178667
364     12   24  165050
365     12   25  153778
366     12   26  175341
367     12   27  194006
368     12   28  201768
369     12   29  204806
370     12   30  206894
371     12   31  194368

[372 rows x 3 columns]

In [6]:
df.tail()

      year  month  day  births  day_of_year  day_of_week
7300  1988     12   27   11528          362            2
7301  1988     12   28   11847          363            3
7302  1988     12   29   11704          364            4
7303  1988     12   30   11837          365            5
7304  1988     12   31    9133          366            6