# Categorical Perception of Facial Expressions

Analysis of a dataset taken from https://github.com/mwegrzyn/Categorical-Perception-of-Emotions-in-Face-Parts  


#### Stimuli

![](https://journals.plos.org/plosone/article/figure/image?size=large&id=10.1371/journal.pone.0134790.g001)

### imports

In [14]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# set defaults for plotting
sns.set_context('poster')
sns.set_style('ticks')

### get data

There are 28 participants. Each participant made a binary decision (angry, fearful) for 33 different conditions (3 mask conditions x 11 anger-fear morphs). For each condition, 20 different faces were presented. The data in each cell indicate the percentage of anger responses for a condition.

In [16]:
csv_file = '../data/categoricalPerceptionExp1Avg.txt'

In [15]:
df =

NameError: name 'csv_file' is not defined

### explore data

           whole                                                         \
grade        m00        m01        m02        m03        m04        m05
count  28.000000  28.000000  28.000000  28.000000  28.000000  28.000000
mean    9.821429  10.267857  14.285714  18.660714  29.017857  45.982143
std     7.961963   9.606597  10.405152  10.918090   9.509724  13.356565
min     0.000000   0.000000   0.000000   5.000000  15.000000  22.500000
25%     5.000000   2.500000   5.000000  10.000000  22.500000  34.375000
50%     7.500000   7.500000  10.000000  17.500000  26.250000  47.500000
75%    12.500000  17.500000  21.250000  22.500000  33.125000  56.250000
max    35.000000  37.500000  40.000000  52.500000  47.500000  67.500000

                                                         ...           eyes  \
grade        m06         m07         m08         m09     ...            m01
count  28.000000   28.000000   28.000000   28.000000     ...      28.000000
mean   67.053571   82.589286   92.142857   95.446429     ...      16.339286
std    10.431735   10.485487    6.188186    5.402913     ...      12.180778
min    45.000000   60.000000   75.000000   77.500000     ...       2.500000
25%    60.000000   74.375000   87.500000   94.375000     ...       6.875000
50%    66.250000   82.500000   95.000000   97.500000     ...      11.250000
75%    75.625000   90.625000   97.500000  100.000000     ...      25.625000
max    85.000000  100.000000  100.000000  100.000000     ...      45.000000

                                                                         \
grade        m02        m03        m04        m05        m06        m07
count  28.000000  28.000000  28.000000  28.000000  28.000000  28.000000
mean   20.357143  27.053571  34.464286  45.535714  60.535714  75.892857
std    12.298643  14.027974  13.597337  12.844460  12.662959  10.256305
min     5.000000   5.000000   7.500000  20.000000  25.000000  45.000000
25%    10.000000  17.500000  25.000000  40.000000  52.500000  70.000000
50%    17.500000  25.000000  32.500000  45.000000  62.500000  78.750000
75%    30.000000  33.125000  40.625000  53.125000  68.125000  82.500000
max    45.000000  62.500000  70.000000  75.000000  87.500000  90.000000


grade        m08         m09         m10
count  28.000000   28.000000   28.000000
mean   87.142857   92.053571   93.660714
std     8.042546    5.359898    5.158692
min    60.000000   80.000000   85.000000
25%    85.000000   87.500000   87.500000
50%    87.500000   91.250000   95.000000
75%    92.500000   97.500000   97.500000
max    97.500000  100.000000  100.000000

[8 rows x 33 columns]

### transform data

          mean                              std
          eyes      mouth      whole       eyes      mouth      whole
m00  12.589286  28.214286   9.821429   9.241666  13.156064   7.961963
m01  16.339286  30.892857  10.267857  12.180778  14.612499   9.606597
m02  20.357143  34.821429  14.285714  12.298643  12.709878  10.405152
m03  27.053571  38.125000  18.660714  14.027974  12.956927  10.918090
m04  34.464286  46.160714  29.017857  13.597337  13.184625   9.509724
m05  45.535714  52.946429  45.982143  12.844460  13.778230  13.356565
m06  60.535714  64.732143  67.053571  12.662959  13.460148  10.431735
m07  75.892857  70.000000  82.589286  10.256305  15.244914  10.485487
m08  87.142857  76.250000  92.142857   8.042546  14.585317   6.188186
m09  92.053571  78.660714  95.446429   5.359898  12.936493   5.402913
m10  93.660714  79.910714  97.589286   5.158692  13.219692   4.275368

### visualize data